.classes-main {
  .center();
  width: 100%;
  height: 90vh;
  clip-path: polygon(0 0, 0 100%, 300% 0%);
  background: linear-gradient(rgb(56, 54, 54), rgba(114, 106, 106, 0.13)),
    url("/img/about-img.jpeg") fixed center;
  .classes-heading {
    text-transform: capitalize;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: rgb(209, 208, 208);
    h1 {
      border-bottom: 2px solid #fff;
      padding-bottom: 10px;
      text-align: center;
      width: 60%;
      margin: 20px auto;
      font-size: 3em;
    }
    p {
      text-align: center;
      width: 40%;
      margin: 20px auto;
    }
  }
}

.class-names {
  width: 60%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  div {
    display: flex;
    margin: 40px 0;
    section:not(:last-child) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img:not(:first-child) {
      width: 60%;
    }
    img {
      border-radius: 10px;
      width: 100%;
      height: 375px;
    }
    h1 {
      color: #000;
    }
  }
}

.classes {
  margin-top: 95px;
}
.className {
  margin: 20px 10%;
  margin-left: 25%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;

  h2 {
    font-size: 28px;
    padding: 0;
    padding-bottom: 10px;
    margin: 15px 0 0;
  }

  .date {
    margin: 0;
    font-size: 16px;
  
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .expandButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 12px;
    color: grey;
    cursor: pointer;
    transform: translate(-50%);
    background-color: white;
  }
  img {
    width: 70%;
    height: 60%;
    margin: 0, auto;
  }
}

.className-open {
height: 800px;
}