
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(204, 204, 204, 0.315);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(23, 73, 25);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messageform {
  border-radius: 5px;
  background-color: darkslategrey;
  padding: 20px;
  display: flex;
}




.popup{
  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  background:rgba(#000 ,.8);
  z-index: 999;
  .center();
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s;
  &:target{
    opacity: 1;
    visibility: visible;
  };
  .content{
    color: #fff;
    text-transform: capitalize;
    font-size: 3rem;
  }
  a{
    position: absolute;
    top:10%;
    right:10%;
    color:#fff;
    font-size: 4rem;
  }
}