footer {
  width: 100%;
  background: @darkblue;
  height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  
  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    color: @silver;
  }
}